@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Colors
$blue: '#063d7a';
$blue_dark: '#0A2240';
$red: '#efc1c1';
$red_light: '#f8dade';
$red_dark: '#df2500';
$link: '#1e71cd';
$mute: '#aabfcd';

body {
  font-family: 'Lato', sans-serif;
}
