/* Global */
* {
  transition: all 0.5s ease-out;
}
.flex {
  display: flex;
}
.hidden {
  display: none !important;
}
.tempHidden {
  display: none !important;
}
.greyedOut {
  color: #bdbdbd !important;
}
.tempGreyedOut {
  color: #bdbdbd !important;
}
.shadow {
  box-shadow: 0 3px 5px -1px #bdbdbd, 0 6px 10px 0 #bdbdbd, 0 1px 18px 0 #bdbdbd;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #bdbdbd !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  max-height: 48px;
  margin: 0;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 3px 5px -1px #bdbdbd, 0 6px 10px 0 #bdbdbd, 0 1px 18px 0 #bdbdbd;
}
.mobile-menu {
  height: 75vh;
  margin-top: 84px;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f2f3;
}
.mobile-menu .container {
  padding: 16px;
  flex: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.mobile-menu .container li {
  display: flex;
  list-style-type: none;
  color: #212121;
  margin: 16px;
  font-size: 18px;
}
.open-mobile {
  cursor: pointer;
}
.close-mobile {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  color: #212121;
}
/* Global */

/* Header */
body {
  overflow-x: hidden;
  position: relative;
}
header {
  position: sticky;
  top: 0;
}
.header {
  background-color: #0a2240;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-height: 64px;
  margin: 0;
}

.header .logo-container,
.header .header-link,
.footer-content .logo-container {
  display: flex;
}

.header .logo {
  flex-basis: auto;
  max-height: 24px;
  width: auto;
  margin: 0 16px 0 16px;
}

.header .logo.text {
  flex-basis: auto;
  color: #f1f2f3;
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header nav .home {
  margin-right: 32px;
}

.header nav li {
  text-decoration: none;
  list-style-type: none;
  color: #f1f2f3;
  display: flex;
  flex-basis: auto;
  min-width: fit-content;
  margin: 0 8px;
  height: 24px;
}
.header nav li a {
  flex-basis: auto;
  font-size: 16px;
  cursor: pointer;
}
.header nav li a .material-icons {
  color: #f1f2f3;
}
.header .search {
  flex-basis: auto;
  background: #f1f2f3;
  border-radius: 5px;
  padding: 8px;
  position: relative;
  margin-right: 16px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .search input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  top: 0;
  border-radius: 5px;
  background: #f1f2f3;
}
.header .menu.mobile {
  display: none;
  color: #f1f2f3;
  margin: 16px;
}
/* Header */

/* Appointment */
.appointments {
  background: #f1f2f3;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.appointments .alerts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0 16px;
  width: 100%;
}

.appointments .select {
  flex-basis: auto;
  height: 24px;
  background: transparent;
  padding: 8px;
  width: 216px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appointments p {
  margin: 0;
}

.appointments .buttons-container {
  flex-basis: auto;
  height: 48px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.appointments .button.primary {
  background-color: #0a2240;
  color: #f1f2f3;
  margin-right: 16px;
}

.appointments .button.alert {
  background-color: #ef9a9a;
  color: #212121;
}

.appointments .button.alert .warning {
  color: #e53935;
}
.appointments .button.alert .alerts {
  background-color: #f1f2f3;
  padding: 4px;
  border-radius: 50%;
  color: #e53935;
}
/* Appointment */

/* Sub Header */
.sub-header {
  background: #063d7a;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.sub-header .banner-query {
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sub-header .banner-query .data {
  display: flex;
  color: #f1f2f3;
  font-size: 24px;
  flex-wrap: wrap;
  width: 248px;
}

.sub-header .banner-query .data h2 {
  letter-spacing: 3px;
  margin: 16px 0;
}

.sub-header .banner-query .data p a {
  color: #f1f2f3;
  font-size: 18px;
}

.sub-header .search {
  flex-basis: auto;
  background: #f1f2f3;
  border-radius: 5px;
  padding: 8px;
  width: 248px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-header .search input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  top: 0;
  border-radius: 5px;
  background: #f1f2f3;
  font-size: 16px;
}

.sub-header .search .material-icons {
  color: #212121;
  border-left-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.15);
}
/* Sub Header */

/* Query By Leter*/
.letter-query {
  background: #f1f2f3;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.letter-query .letter-holder {
  min-height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.letter-query .letter-holder h4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  flex: 100%;
  font-size: 32px;
  color: #212121;
  margin-bottom: 8px;
  margin-top: 8px;
}
.letter-query .letter-holder div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.letter-query .letter-holder span {
  display: flex;
  align-items: center;
  color: #2196f3;
  font-size: 24px;
  margin: 0 4px;
  cursor: pointer;
}
.letter-query .letter-holder span:hover {
  color: #2196f3 !important;
}
/* Query By Leter*/

/* Directory */
.main-content {
  background: #e0e0e0;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-content div.shadow {
  background: transparent;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  border-radius: 5px;
  margin: 32px;
  background-color: #f1f2f3;
}

.main-content .directory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.main-content .directory h4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48px;
  padding-bottom: 4px;
  flex: 100%;
  font-size: 32px;
  color: #212121;
  margin-bottom: 8px;
}

.main-content .directory h4:after {
  content: '';
  display: block;
  width: 80px;
  padding-top: 4px;
  border-bottom: 4px solid #212121;
}

.main-content .directory a {
  padding: 8px 0;
  flex: 50%;
  text-align: start;
}

.main-content .directory li {
  list-style-type: none;
  color: #2196f3;
  font-size: 24px;
}

.main-content .directory li:hover {
  color: #212121 !important;
}
/* Directory */

/* Footer */
footer {
  background: #f1f2f3;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
}
footer .container {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
}
footer .container .footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 33%;
}
.footer-content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}
.footer-content .logo {
  flex-basis: auto;
  max-height: 48px;
  width: auto;
  margin: 16px 0 16px 0;
}
.footer-content .logo.text {
  display: flex;
  color: #0a2240;
  font-size: 24px;
  font-weight: normal;
  margin: 26px 0 16px 0;
}
.footer-content p {
  color: #212121;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}
.footer-content a {
  display: flex;
  margin-bottom: 16px;
  text-decoration: underline !important;
  text-decoration-color: #212121;
}
.footer-content a li {
  list-style-type: none;
  color: #212121;
  font-size: 18px;
}
footer address {
  display: flex;
  color: #212121;
  font-size: 18px;
  font-style: normal !important;
}
footer .footer-content .icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footer-content .icons-container img {
  max-width: 24px;
  max-height: 24px;
  padding: 4px;
}
/* Footer */
/* Media Queries */

/* ----------- Non-Retina Screens ----------- */
/* Extra Large Screens*/
@media screen and (max-width: 1600px) {
  .header nav li a {
    flex-basis: auto;
    font-size: 12px;
    cursor: pointer;
  }
}
/* Large Desktops */
@media screen and (max-width: 1367px) {
  .header {
    justify-content: flex-start;
  }
  .header .logo {
    margin: 16px 4px;
  }
  .header .logo.text {
    margin: 0.67em 0;
  }
  .header nav {
    display: none;
  }
  .header .menu.mobile {
    display: flex;
  }
  footer .container .footer-content {
    flex: 100%;
  }
}
/* Small Laptops */
@media screen and (max-width: 1024px) {
}
/* Tablets */
@media screen and (max-width: 768px) {
  .header .search {
    display: none;
  }
  .appointments {
    padding: 16px;
  }
  .appointments .alerts-container {
    flex-direction: column;
  }
  .letter-query .letter-holder div {
    justify-content: flex-start;
  }
  .main-content .directory a {
    flex: 100%;
  }
  .main-content div.shadow {
    width: 90%;
  }
  .main-content .directory li {
    font-size: 18px;
  }
}
/* mobile */
@media screen and (max-width: 480px) {
}

/* ----------- Retina Screens ----------- */

/* Extra Large Screens*/
@media screen and (max-width: 1600px) and (min-resolution: 192dpi) {
  .header nav li a {
    flex-basis: auto;
    font-size: 12px;
    cursor: pointer;
  }
}
/* Large Desktops */
@media screen and (max-width: 1367px) and (min-resolution: 192dpi) {
  .header {
    justify-content: flex-start;
  }
  .header .logo {
    margin: 16px 4px;
  }
  .header .logo.text {
    margin: 0.67em 0;
  }
  .header nav {
    display: none;
  }
  .header .menu.mobile {
    display: flex;
  }
  footer .container .footer-content {
    flex: 100%;
  }
}
/* Small Laptops */
@media screen and (max-width: 1024px) and (min-resolution: 192dpi) {
}
/* Tablets */
@media screen and (max-width: 768px) and (min-resolution: 192dpi) {
  .header .search {
    display: none;
  }
  .appointments {
    padding: 16px;
  }
  .appointments .alerts-container {
    flex-direction: column;
  }
  .letter-query .letter-holder div {
    justify-content: flex-start;
  }
  .main-content .directory a {
    flex: 100%;
  }
  .main-content div.shadow {
    width: 90%;
  }
  .main-content .directory li {
    font-size: 18px;
  }
}
/* mobile */
@media screen and (max-width: 480px) and (min-resolution: 192dpi) {
}
/* Media Queries */
